* {
    background-color: rgb(48, 47, 47);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    gird-template-columns;
    repeat(12, 1fr);
}

.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    );
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.code-card:hover .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px
    rgba(232, 102, 236, 1);
}

.card-header {
    position: relative;
    margin-top: -20px;
}

/* All the stuff I added is below */
h1 {
    text-align: center;
    color:rgba(232, 102, 236, 1)
}

.introP {
    text-align: center;
    color: #fff
}

.box {
    margin: 20px;
    border: 2px dashed #fff;  
}

.box1 .box2 .box3 .box4 .box5 .box6 {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    )
    border-radius: 8px;
}

footer {
    text-align: center;
    color:rgba(232, 102, 236, 1)
}

a[href*=".css"]::after {
    content: ".\1F497";
}
